.extra-product__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .extra-product__content ul li {
    color: #D72323;
  }
  
  .extra-product__content ul li span {
    color: #000000;
  }
  
  .extra-product__content h2 {
    font-size: 3rem;
    font-weight: bolder;
  }
  
  .extra-product__content p {
    /* font-size: 1.5rem; */
  }
  
  .extra-product__founder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0 4rem 0;
  }
  
  @media (max-width: 48em) {
    .extra-product__content {
        margin-bottom: 2.5rem;
    }
  } 
  